name: Wails build

on:
  push:
    tags:
    # Match any new tag
      - '*'

env:
  # Necessary for most environments as build failure can occur due to OOM issues
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
    # Failure in one platform build won't impact the others
      fail-fast: false
      matrix:
        build:
          - name: 'byto-linux'
            platform:  'linux/amd64'
            os: 'ubuntu-latest'
            artifact-name: 'byto-linux'
          - name: 'byto-windows.exe'
            platform:  'windows/amd64'
            os: 'windows-latest'
            artifact-name: 'byto-windows'
          - name: 'byto-macos'
            platform:  'darwin/universal'
            os: 'macos-latest'
            artifact-name: 'byto-macos'

    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build wails
        uses: dAppServer/wails-build-action@main
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          package: false
          go-version: '1.23'

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.build.artifact-name }}
          path: build/bin/